@font-face {

    font-family: "Hind-Regular";
    src: url("./fonts/Hind-Regular.ttf") format('truetype');
    
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind-Regular', sans-serif;
}

body {

    background-color: #FFF0F5;
}

.div-logo {

    display: flex;
    width: auto;
    align-items: center;
    margin: 0 0 3% 0;
    flex-direction: column;

}

.logo {

    width: 20%;
}

.brigadeiro {

    width: 7%;

}

.brigadeiro:hover {

    width: 8%;
    transition: 1s ease-in-out;

}

.circle {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    clip-path: circle(35% at 50% 0%);
    background-color: white;
    z-index: -2;

}

header {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    text-decoration-line: none;

}

header button {

    background-color: #FFFAFA;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 1px 5px #64370B;
    width: 100px;
    cursor: pointer;
    font-size: 15px;

}

header a {

    text-decoration: none;
    color: #64370B;
    font-weight: 600;

}

header button:active {

    opacity: 0.5;
}

h2 {

    margin: 10% 10%;
    font-size: 50px;
    text-align: center;
}

span {

    color: #64370B;
}

.section-text p {

    display: inline-block;
    width: 30%;
    font-size: 30px;

}

.section-text img {

    display: inline-block;
    position: absolute;
    width: 50%;
    margin-bottom: 200px;
    top: 0;
    right: 0;
    margin: 0;

}

.section-text {

    padding: 0;
    margin: 30% 0 30% 10%;

}

.bloco-quadrado {

    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -50px;
    height: 450px;
    width: 400px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    z-index: -2;

}

strong {

    color: black;
}

h3 {

    background: white;
    text-align: center;
    font-size: 50px;
    margin: 0;

}

.section-address p {

    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    text-decoration: overline;
    margin-bottom: 20px;

}

.link-whatsapp img {

    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.link-whatsapp img:hover {

    height: 70px;
    transition: 1s ease-in-out;

}

.div-map {

    display: flex;
    justify-content: center;

}

footer {

    background-color: #FFFAFA;
    color: black;
    text-align: center;
    padding: 0.5em;
    margin-top: 30px;

}

.mascara-formulario {

    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7988445378151261) 30%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 70%);
    transition: visibility 1s ease-in-out;
}

.formulario-orçamento {

    background-color: gray;
    background-size: 120vh;
    background-position: 40%;
    background-image: url("./assets/opcoes-brigadeiro.png");
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: -100%;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    transition: left 1.7s ease-in-out;
    z-index: 2;
    
}

h3 {

    padding: 10px;
    color: black;
    font-size: 25px;
    text-transform: uppercase;

}

input {

    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    outline-color: #64370B;

}

textarea {

    margin-top: 20px;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    outline-color: #64370B;

}

label {

    color: black;
    background-color: #FFE0E9;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: -40px;
    padding-left: 20px;
    font-size: 20px;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    width: 70%;

}

::placeholder {

    color: rebeccapurple;

}

.botao-orçamento {
    margin-left: 100px;
    width: 200px;
    height: 50%;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 5px;
    background-color: #FFE0E9;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

.gourmet {

    width: 9%;
    height: 32px;
    margin-top: 3px;
    margin-left: 80%;
    visibility: hidden;
}

.cappuccino {
    width: 9%;
    height: 32px;
    margin-top: 3px;
    margin-left: 80%;
    visibility: hidden;
}

.pistache {

    width: 9%;
    height: 32px;
    margin-top: 3px;
    margin-left: 80%;
    visibility: hidden;
}

.doceleite {

    width: 9%;
    height: 32px;
    margin-top: 3px;
    margin-left: 80%;
    visibility: hidden;

}

.hidden {

    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show {

    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;

}


@media screen and (max-width: 1000px) {

    .brigadeiro {

        width: 50px;
    }

    .brigadeiro:hover {

        width: 50px;
        transition: none;
    }

    .logo {

        width: 150px;
    }


    header a {

        font-size: 10px;
        font-weight: bold;
    }

    header button {

        width: 70px;
    }

    h2 {

        height: 100%;
        height: auto;
        font-size: 40px;
        margin: 200px 10px;
    }

    .section-text p {

        font-size: 20px;
        width: 50%;
        height: 100%;

    }

    .section-text {

        margin: 350px 10px;

    }

    .bloco-quadrado {

        height: 400px;

    }


    .section-address h2 {

        font-size: 20px;

    }

    .section-address p {

        font-size: 13px;

    }

    .div-map {

        border-radius: 20px;
        clip-path: circle(40%);

    }

    h3 {

        font-size: 15px;

    }

    label {

        font-size: 10px;

    }

    textarea {

        width: 100%;

    }

    .botao-orçamento {

        width: auto;
        height: auto;
        margin: 30px 0;

    }

    .formulario-orçamento {

        margin-top: 5%;
        width: 90%;
        height: 70%;

    }
}



@media screen and (max-width:400px) {



    .brigadeiro {

        width: 70px;

    }

    .brigadeiro:hover {

        width: 70px;
        transition: none;

    }

    .logo {

        width: 180px;

    }

    .div-logo {

        margin-bottom: 80px;

    }


    header button {

        background: white;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 1px 5px #64370B;
        width: 25%;
        cursor: pointer;
        font-size: 12px;

    }

    header a {

        color: black;

    }


    .slogan h2 {

        display: block;
        margin: 60px 15px 150px 15px;
        font-size: 35px;

    }

    .section-text p {

        font-size: 20px;
        width: 70%;

    }

    .section-text img {

        display: block;
        position: absolute;
        height: 300px;
        width: 350px;
        opacity: 0.2;
        z-index: -1;
        align-items: center;
        justify-content: center;

    }

    .section-text {

        margin: 250px 20px;

    }

    .bloco-quadrado {

        width: 200px;
        height: 400px;

    }


    .section-address h2 {

        position: relative;
        background: white;
        font-size: 20px;
        margin-top: 200px;

    }

    .section-address p {

        display: block;
        position: static;
        font-size: 15px;
        width: 100%;
        text-align: center;
        font-weight: 200;
        text-decoration-line: underline;

    }

    .div-map {

        border-radius: 20px;
        clip-path: circle(40%);

    }


    .link-whatsapp img {

        width: auto;
        height: 5%;

    }

    .link-whatsapp img:hover {

        height: 8%;
        transition: 1s ease-in-out;

    }

    footer {

        font-size: 10px;
    }

    h3 {

        font-size: 15px;

    }

    label {

        font-size: 10px;

    }

    textarea {

        width: 100%;

    }

    .botao-orçamento {

        width: auto;
        height: auto;
        margin: 30px 0;

    }

    .formulario-orçamento {

        margin-top: 5%;
        width: 90%;
        height: 90%;
        
    }
}